<mat-card (click)="goToAuction()">
  <div class="row justify-content-center">
    <mat-card-title>{{auction.title}}</mat-card-title>
  </div>
  <img mat-card-image [src]="photoUrl + auction.mainPhotoName" alt="Auction image" *ngIf="auction.mainPhotoName">
  <img mat-card-image src="/assets/no-photo-big.jpg" alt="Auction image" *ngIf="!auction.mainPhotoName">
  <mat-card-content>
    <div class="row justify-content-around">
      <div *ngIf="!auction.alreadyBidded">Kup Teraz: {{auction.buyNowPrice}}</div>
      <div *ngIf="auction.alreadyBidded">Licytuj: {{auction.bidPrice}}</div>
    </div>
  </mat-card-content>
</mat-card>
