<div class="card m-3">
  <div class="card-header">
    <div class="row">
      <div class="col-8 offset-2 text-center align-self-center">
        <h1 class="font-weight-bold pt-1 mb-0">{{auction.title}}</h1>
      </div>
    </div>
  </div>

  <div class="row align-items-center p-3">
    <div class="col-md-6 text-center">
      <app-image-container
        [images]="images"
        [selectedImage]="images[0]"
        class="col-md-6">
      </app-image-container>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end">
        <div *ngIf="auction.premium" class="mr-3">
          <mat-icon class="icon" color="warn" >stars</mat-icon>
        </div>
        <div *ngIf="auction.observed" class="mr-3">
          <mat-icon class="icon" color="primary">remove_red_eye</mat-icon>
        </div>
      </div>
      <app-auction-description [auction]="auction" (refreshEmitter)="refreshEmitter.emit(true)">
      </app-auction-description>
    </div>
  </div>
</div>
