<div class="container pl-5">
  <ng-container *ngIf="authenticationService.isLogged(); else login">
    <div class="row" *ngIf="auction.canBid">
      <form [formGroup]="bidForm">
        <div class="row">
          <mat-form-field>
            <input matInput type="number" formControlName="bidPrice" placeholder="Twoja oferta:">
          </mat-form-field>
        </div>
        <div class="row">
          <app-button [disabled]="bidForm.invalid" [action]="bid()" text="Licytuj">
          </app-button>
          <div class="ml-2">
            <app-button [text]="auction.observed ? 'Przestań obserwować' : 'Obserwuj'" [action]="auction.observed ? unObserve() : observe()">
            </app-button>
          </div>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="auction.canBuyNow">
      <app-button text="Kup Teraz" [action]="buyNow()"></app-button>
      <div class="ml-2">
        <app-button [text]="auction.observed ? 'Przestań obserwować' : 'Obserwuj'" [action]="auction.observed ? unObserve() : observe()">
        </app-button>
      </div>
    </div>
  </ng-container>
  <ng-template #login>
    Zaloguj się aby móc licytować.
  </ng-template>
</div>
