<div class="card m-3" (click)="goToAuction()">
  <div class="card-header">
    <div class="row">
      <div
        class="col-8 offset-2 text-center align-self-center"><h3
        class="font-weight-bold pt-1 mb-0">{{auction.title}}</h3>
      </div>
    </div>
  </div>

  <div class="row align-items-center p-3">
    <div class="col-md-4 text-center">
      <img [src]="photoUrl + auction.mainPhotoName" alt="Auction image" *ngIf="auction.mainPhotoName">
      <img src="/assets/no-photo-big.jpg" alt="Auction image" *ngIf="!auction.mainPhotoName">
    </div>
    <div class="col-md-4">
      <p>Numer aukcji: #{{auction.id}}</p>
      <p *ngIf="auction.status === 'CREATED'">Cena "Kup Teraz": {{auction.buyNowPrice}}</p>
      <p *ngIf="auction.status === 'STARTED'">Aktualna cena w licytacji: {{auction.bidPrice}}</p>
    </div>
    <div class="col-md-4">
      <div *ngIf="auction.status === 'STARTED'">
        <p *ngIf="auction.alreadyBidded"><span class="font-weight-bold">Ilość licytujących:
          {{auction.biddersAmount}}</span></p>
        <p *ngIf="!auction.alreadyBidded"><span class="font-weight-bold">Nikt jeszcze nie
        zalicytował</span></p>
      </div>
      <p>Data rozpoczęcia licytacji: {{auction.startDateTime}}</p>
      <p>Data zakończenia licytacji: {{auction.endDateTime}}</p>
      <ng-container [ngSwitch]="auction.status">
        <p class="text-info" *ngSwitchCase="'CREATED'">Przed rozpoczęciem licytacji</p>
        <p class="text-primary" *ngSwitchCase="'STARTED'">Trwa licytacja</p>
        <p class="text-danger" *ngSwitchCase="'ENDED'">Zakończono licytację</p>
      </ng-container>
    </div>
  </div>
</div>
