<div class="container-fluid">
  <div class="row justify-content-around mx-xl-5">
    <div class="col-lg-9 col-xl-8 offset-xl-2">
      <ng-container *ngIf="auctions$ | async as auctions; else loading">
        <ng-container *ngIf="auctions.content.length > 0; else empty">
          <app-user-auction-list [auctions]="auctions.content" [currentSort]="sortType"
                                 (sortChange)="changeSortType($event)"></app-user-auction-list>
        </ng-container>
        <ng-template #empty>
          <h1>Aktualnie nie masz wystawionych aukcji</h1>
        </ng-template>
      </ng-container>
      <mat-paginator
        [length]="total"
        (page)="getAuctions(paginator.pageIndex, paginator.pageSize)"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <div class="col-lg-3 col-xl-2">
      <app-auction-filter (filterFormChangeEmitter)="filterAuctions($event)"></app-auction-filter>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <div class="spinner-grow  vertical-center" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
